{% import "partials/language.html" as lang with context %}
<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="md-footer-links">
        <a onclick="ToggleTheme()">Toggle Night Mode</a>
        <a href="https://www.gnome.org/" target="_blank">Gnome Website</a>
        <a href="https://github.com/nmanumr" target="_blank">About Me</a>
      </div>
      {% block social %}
        {% include "partials/social.html" %}
      {% endblock %}
    </div>
  </div>
</footer>
